name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  tests:
    name: Vim Table Mode Tests
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          path: pack/plugins/start/vim-prosession

      - name: Checkout vim-obsession
        uses: actions/checkout@v3
        with:
          repository: tpope/vim-obsession
          path: pack/plugins/start/vim-obsession

      - name: Checkout vim-testify
        uses: actions/checkout@v3
        with:
          repository: dhruvasagar/vim-testify
          path: pack/plugins/start/vim-testify

      - name: Install Vim or neovim
        uses: rhysd/action-setup-vim@v1
        id: vim
        with:
          neovim: true
          version: nightly

      - name: Extract Git Branch Name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Run unit tests
        env:
          VIM: ${{ steps.vim.outputs.executable }}
          GIT_BRANCH: ${{ steps.extract_branch.outputs.extract_branch }}
        run: |
          cd ${{ github.workspace }}/pack/plugins/start/vim-prosession
          echo "set packpath+=${{ github.workspace }}" > vimrc
          ${VIM} --headless -u vimrc +TestifySuite +qall
